* {
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
}

h2 h3 h4[] p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

/*MENU*/
.topnav {
    background-color: #E9E6E1;
    overflow: hidden;
}


.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2D84A7;
    color: white;

}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 769px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 769px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*Hero*/
.Heroimage h1 {
    position: relative;
    text-align: center;
    color: white;

}

.tekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -100%);
    font-size: 3rem;

}

/*Kære søster*/

.Kaeresoester {
    margin: 10px;
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.information {
    width: 500px;

}

.bog {
    width: 400px;
}

.knap {
    background-color: #F2C53C;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;

}
