* {
    padding: 0px;
    margin: 0px;
}


img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
}

h2 h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}



/*MENU*/
.topnav {
    background-color: #E9E6E1;
    overflow: hidden;
}


.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px 20px;
    text-decoration: none;
    font-size: 1.5rem;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2D84A7;
    color: white;

}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 769px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 769px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}



/*----------------------FORSIDE------------------------*/
/*Hero*/
.Heroimage h1 {
    position: relative;
    text-align: center;
    color: white;

}

.herotekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -100%);
    font-size: 3rem;
    color: beige;

}

/*Kære søster*/
#kareSoster {
    margin: 10px;
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}




.information {
    width: 700px;
    margin-right: 160px;


}

.digital {
    width: 400px;
}

.findminbog {
    padding-top: 60px
}

button {
    background-color: #F2C53C;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;

}

/*--------------OM---------------*/
.information1 {
    width: 600px;
    margin-right: 60px;
}

.digitaVideo {
    width: 800px;
    padding-top: 10px;
}

.wrapper {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skitse {
    display: flex;
    justify-content: center;
}

.naiha {
    max-width: 700px;
}

/*--------------Kalender---------------*/

.tekst1 {
    justify-content: center
}

.flex-container {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container div {
    background-color: #3F3F3F;
    width: 350px;
    margin: 10px;
    font-size: 30px;
    border-radius: 1%;
}

.kalender h2 {
    text-align: center;
}

.kalender {
    font-size: 15px;
    text-align: left;
    box-shadow: 1px 1px 5px grey;
}

.kalender h3 {
    font-size: 17px;
    text-align: left;
    padding-bottom: 10px;
}

.kalender {
    padding: 10px;
}


.korttekst {
    padding-top: 10px;

    padding-bottom: 20px;
}

.kalender p,
h2,
h3 {

    padding-bottom:
        10px;
    color: white;

}

.beskrivelse {
    padding-top: 50px;
    padding-left: 10px;
}

.beskrivelse h1 {
    padding-top: 50px;
    padding-left: 10px;
    text-decoration: #2D84A7 underline;
}

/*--------------kontakt---------------*/
.billede {
    width: 500px;
}

/*------------FOOTER----------------*/
.fixed_footer {
    padding-top: 50px;
}

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #E9E6E1;
}

.footer .col {
    width: 290px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;

}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: black;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: black;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 5px 0px 5px 0px;

}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}


.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}
